[{:id :academic
  :name "Academic"}
 {:id :advertisement
  :name "Advertisement"}
 {:id :ai
  :name "AI"}
 {:id :alliance
  :name "Alliance"}
 {:id :ambush
  :name "Ambush"}
 {:id :ap
  :name "AP"}
 {:id :barrier
  :name "Barrier"}
 {:id :beanstalk
  :name "Beanstalk"}
 {:id :bioroid
  :name "Bioroid"}
 {:id :black-ops
  :name "Black Ops"}
 {:id :bomb
  :name "Bomb"}
 {:id :cast
  :name "Cast"}
 {:id :caissa
  :name "Caïssa"}
 {:id :character
  :name "Character"}
 {:id :chip
  :name "Chip"}
 {:id :clan
  :name "Clan"}
 {:id :clone
  :name "Clone"}
 {:id :cloud
  :name "Cloud"}
 {:id :code-gate
  :name "Code Gate"}
 {:id :companion
  :name "Companion"}
 {:id :condition
  :name "Condition"}
 {:id :connection
  :name "Connection"}
 {:id :console
  :name "Console"}
 {:id :consumer-grade
  :name "Consumer-grade"}
 {:id :corp
  :name "Corp"}
 {:id :corporation
  :name "Corporation"}
 {:id :current
  :name "Current"}
 {:id :cybernetic
  :name "Cybernetic"}
 {:id :cyborg
  :name "Cyborg"}
 {:id :daemon
  :name "Daemon"}
 {:id :decoder
  :name "Decoder"}
 {:id :deep-net
  :name "Deep Net"}
 {:id :deflector
  :name "Deflector"}
 {:id :destroyer
  :name "Destroyer"}
 {:id :deva
  :name "Deva"}
 {:id :digital
  :name "Digital"}
 {:id :directive
  :name "Directive"}
 {:id :division
  :name "Division"}
 {:id :double
  :name "Double"}
 {:id :enforcer
  :name "Enforcer"}
 {:id :executive
  :name "Executive"}
 {:id :expansion
  :name "Expansion"}
 {:id :expendable
  :name "Expendable"}
 {:id :facility
  :name "Facility"}
 {:id :fracter
  :name "Fracter"}
 {:id :g-mod
  :name "G-mod"}
 {:id :gear
  :name "Gear"}
 {:id :genetics
  :name "Genetics"}
 {:id :government
  :name "Government"}
 {:id :grail
  :name "Grail"}
 {:id :gray-ops
  :name "Gray Ops"}
 {:id :harmonic
  :name "Harmonic"}
 {:id :hostile
  :name "Hostile"}
 {:id :icebreaker
  :name "Icebreaker"}
 {:id :illicit
  :name "Illicit"}
 {:id :industrial
  :name "Industrial"}
 {:id :initiative
  :name "Initiative"}
 {:id :job
  :name "Job"}
 {:id :killer
  :name "Killer"}
 {:id :link
  :name "Link"}
 {:id :location
  :name "Location"}
 {:id :lockdown
  :name "Lockdown"}
 {:id :megacorp
  :name "Megacorp"}
 {:id :mod
  :name "Mod"}
 {:id :morph
  :name "Morph"}
 {:id :mythic
  :name "Mythic"}
 {:id :natural
  :name "Natural"}
 {:id :next
  :name "NEXT"}
 {:id :observer
  :name "Observer"}
 {:id :off-site
  :name "Off-site"}
 {:id :orgcrime
  :name "Orgcrime"}
 {:id :police-department
  :name "Police Department"}
 {:id :political
  :name "Political"}
 {:id :priority
  :name "Priority"}
 {:id :psi
  :name "Psi"}
 {:id :public
  :name "Public"}
 {:id :region
  :name "Region"}
 {:id :remote
  :name "Remote"}
 {:id :reprisal
  :name "Reprisal"}
 {:id :research
  :name "Research"}
 {:id :ritzy
  :name "Ritzy"}
 {:id :run
  :name "Run"}
 {:id :sabotage
  :name "Sabotage"}
 {:id :security
  :name "Security"}
 {:id :security-protocol
  :name "Security Protocol"}
 {:id :seedy
  :name "Seedy"}
 {:id :sensie
  :name "Sensie"}
 {:id :sentry
  :name "Sentry"}
 {:id :source
  :name "Source"}
 {:id :stealth
  :name "Stealth"}
 {:id :subsidiary
  :name "Subsidiary"}
 {:id :sysop
  :name "Sysop"}
 {:id :terminal
  :name "Terminal"}
 {:id :tracer
  :name "Tracer"}
 {:id :transaction
  :name "Transaction"}
 {:id :trap
  :name "Trap"}
 {:id :triple
  :name "Triple"}
 {:id :trojan
  :name "Trojan"}
 {:id :unorthodox
  :name "Unorthodox"}
 {:id :vehicle
  :name "Vehicle"}
 {:id :virtual
  :name "Virtual"}
 {:id :virus
  :name "Virus"}
 {:id :weapon
  :name "Weapon"}
{:id :onr-vehicle
 :name "Vehicle"}
{:id :onr-base-link
 :name "Base Link"}
{:id :onr-transactions
 :name "Transactions"}
{:id :onr-daemon
 :name "Daemon"}
{:id :onr-icebreaker
 :name "Icebreaker"}
{:id :onr-random
 :name "Random"}
{:id :onr-asset
 :name "Asset"}
{:id :onr-sabotage
 :name "Sabotage"}
{:id :onr-deck
 :name "Deck"}
{:id :onr-research
 :name "Research"}
{:id :onr-sentry
 :name "Sentry"}
{:id :onr-flatline
 :name "Flatline"}
{:id :onr-bbs
 :name "BBS"}
{:id :onr-code-gate
 :name "Code Gate"}
{:id :onr-killer
 :name "Killer"}
{:id :onr-advertisement
 :name "Advertisement"}
{:id :onr-black-ops
 :name "Black Ops"}
{:id :onr-ai
 :name "AI"}
{:id :onr-virus
 :name "Virus"}
{:id :onr-ap
 :name "AP"}
{:id :onr-hellbolt
 :name "Hellbolt"}
{:id :onr-gray-ops
 :name "Gray Ops"}
{:id :onr-connection
 :name "Connection"}
{:id :onr-watchdog
 :name "Watchdog"}
{:id :onr-black-ice
 :name "Black Ice"}
{:id :onr-hellhound
 :name "Hellhound"}
{:id :onr-sysop
 :name "Sysop"}
{:id :onr-ambush
 :name "Ambush"}
{:id :onr-firestarter
 :name "Firestarter"}
{:id :onr-stealth
 :name "Stealth"}
{:id :onr-zombie
 :name "Zombie"}
{:id :onr-chip
 :name "Chip"}
{:id :onr-unique
 :name "Unique"}
{:id :onr-brainwipe
 :name "Brainwipe"}
{:id :onr-region
 :name "Region"}
{:id :onr-wall
 :name "Wall"}
{:id :onr-cybernetics
 :name "Cybernetics"}
{:id :onr-worm
 :name "Worm"}
{:id :onr-pit-bull
 :name "Pit Bull"}
{:id :onr-bloodhound
 :name "Bloodhound"}
{:id :onr-position
 :name "Position"}
{:id :onr-noisy
 :name "Noisy"}
{:id :onr-detection
 :name "Detection"}
{:id :onr-sword
 :name "Sword"}
{:id :onr-stun
 :name "Stun"}
{:id :onr-knockout
 :name "Knockout"}
{:id :onr-deckrash
 :name "DecKrash"}
{:id :onr-hidden
 :name "Hidden"}
{:id :onr-bad-publicity
 :name "Bad Publicity"}
{:id :onr-ice
 :name "Ice"}
{:id :onr-sleepy
 :name "Sleepy"}
{:id :onr-double
 :name "Double"}
{:id :onr-deflector
 :name "Deflector"}
{:id :onr-vehicle
 :name "Vehicle"}
{:id :onr-base-link
 :name "Base Link"}
{:id :onr-transactions
 :name "Transactions"}
{:id :onr-daemon
 :name "Daemon"}
{:id :onr-icebreaker
 :name "Icebreaker"}
{:id :onr-random
 :name "Random"}
{:id :onr-asset
 :name "Asset"}
{:id :onr-sabotage
 :name "Sabotage"}
{:id :onr-deck
 :name "Deck"}
{:id :onr-research
 :name "Research"}
{:id :onr-sentry
 :name "Sentry"}
{:id :onr-flatline
 :name "Flatline"}
{:id :onr-bbs
 :name "BBS"}
{:id :onr-code-gate
 :name "Code Gate"}
{:id :onr-killer
 :name "Killer"}
{:id :onr-advertisement
 :name "Advertisement"}
{:id :onr-black-ops
 :name "Black Ops"}
{:id :onr-ai
 :name "AI"}
{:id :onr-virus
 :name "Virus"}
{:id :onr-ap
 :name "AP"}
{:id :onr-hellbolt
 :name "Hellbolt"}
{:id :onr-gray-ops
 :name "Gray Ops"}
{:id :onr-connection
 :name "Connection"}
{:id :onr-watchdog
 :name "Watchdog"}
{:id :onr-black-ice
 :name "Black Ice"}
{:id :onr-hellhound
 :name "Hellhound"}
{:id :onr-sysop
 :name "Sysop"}
{:id :onr-ambush
 :name "Ambush"}
{:id :onr-firestarter
 :name "Firestarter"}
{:id :onr-stealth
 :name "Stealth"}
{:id :onr-zombie
 :name "Zombie"}
{:id :onr-chip
 :name "Chip"}
{:id :onr-unique
 :name "Unique"}
{:id :onr-brainwipe
 :name "Brainwipe"}
{:id :onr-region
 :name "Region"}
{:id :onr-wall
 :name "Wall"}
{:id :onr-cybernetics
 :name "Cybernetics"}
{:id :onr-worm
 :name "Worm"}
{:id :onr-pit-bull
 :name "Pit Bull"}
{:id :onr-bloodhound
 :name "Bloodhound"}
{:id :onr-position
 :name "Position"}
{:id :onr-noisy
 :name "Noisy"}
{:id :onr-detection
 :name "Detection"}
{:id :onr-sword
 :name "Sword"}
{:id :onr-stun
 :name "Stun"}
{:id :onr-knockout
 :name "Knockout"}
{:id :onr-deckrash
 :name "DecKrash"}
{:id :onr-hidden
 :name "Hidden"}
{:id :onr-bad-publicity
 :name "Bad Publicity"}
{:id :onr-ice
 :name "Ice"}
{:id :onr-sleepy
 :name "Sleepy"}
{:id :onr-double
 :name "Double"}
{:id :onr-deflector
 :name "Deflector"}
{:id :onr-vehicle
 :name "Vehicle"}
{:id :onr-base-link
 :name "Base Link"}
{:id :onr-transactions
 :name "Transactions"}
{:id :onr-daemon
 :name "Daemon"}
{:id :onr-icebreaker
 :name "Icebreaker"}
{:id :onr-random
 :name "Random"}
{:id :onr-asset
 :name "Asset"}
{:id :onr-sabotage
 :name "Sabotage"}
{:id :onr-deck
 :name "Deck"}
{:id :onr-research
 :name "Research"}
{:id :onr-sentry
 :name "Sentry"}
{:id :onr-flatline
 :name "Flatline"}
{:id :onr-bbs
 :name "BBS"}
{:id :onr-code-gate
 :name "Code Gate"}
{:id :onr-killer
 :name "Killer"}
{:id :onr-advertisement
 :name "Advertisement"}
{:id :onr-black-ops
 :name "Black Ops"}
{:id :onr-ai
 :name "AI"}
{:id :onr-virus
 :name "Virus"}
{:id :onr-ap
 :name "AP"}
{:id :onr-hellbolt
 :name "Hellbolt"}
{:id :onr-gray-ops
 :name "Gray Ops"}
{:id :onr-connection
 :name "Connection"}
{:id :onr-watchdog
 :name "Watchdog"}
{:id :onr-black-ice
 :name "Black Ice"}
{:id :onr-hellhound
 :name "Hellhound"}
{:id :onr-sysop
 :name "Sysop"}
{:id :onr-ambush
 :name "Ambush"}
{:id :onr-firestarter
 :name "Firestarter"}
{:id :onr-stealth
 :name "Stealth"}
{:id :onr-zombie
 :name "Zombie"}
{:id :onr-chip
 :name "Chip"}
{:id :onr-unique
 :name "Unique"}
{:id :onr-brainwipe
 :name "Brainwipe"}
{:id :onr-region
 :name "Region"}
{:id :onr-wall
 :name "Wall"}
{:id :onr-cybernetics
 :name "Cybernetics"}
{:id :onr-worm
 :name "Worm"}
{:id :onr-pit-bull
 :name "Pit Bull"}
{:id :onr-bloodhound
 :name "Bloodhound"}
{:id :onr-position
 :name "Position"}
{:id :onr-noisy
 :name "Noisy"}
{:id :onr-detection
 :name "Detection"}
{:id :onr-sword
 :name "Sword"}
{:id :onr-stun
 :name "Stun"}
{:id :onr-knockout
 :name "Knockout"}
{:id :onr-deckrash
 :name "DecKrash"}
{:id :onr-hidden
 :name "Hidden"}
{:id :onr-bad-publicity
 :name "Bad Publicity"}
{:id :onr-ice
 :name "Ice"}
{:id :onr-sleepy
 :name "Sleepy"}
{:id :onr-double
 :name "Double"}
{:id :onr-deflector
 :name "Deflector"}
{:id :onr-vehicle
 :name "Vehicle"}
{:id :onr-base-link
 :name "Base Link"}
{:id :onr-transactions
 :name "Transactions"}
{:id :onr-daemon
 :name "Daemon"}
{:id :onr-icebreaker
 :name "Icebreaker"}
{:id :onr-random
 :name "Random"}
{:id :onr-asset
 :name "Asset"}
{:id :onr-sabotage
 :name "Sabotage"}
{:id :onr-deck
 :name "Deck"}
{:id :onr-research
 :name "Research"}
{:id :onr-sentry
 :name "Sentry"}
{:id :onr-flatline
 :name "Flatline"}
{:id :onr-bbs
 :name "BBS"}
{:id :onr-code-gate
 :name "Code Gate"}
{:id :onr-killer
 :name "Killer"}
{:id :onr-advertisement
 :name "Advertisement"}
{:id :onr-black-ops
 :name "Black Ops"}
{:id :onr-ai
 :name "AI"}
{:id :onr-virus
 :name "Virus"}
{:id :onr-ap
 :name "AP"}
{:id :onr-hellbolt
 :name "Hellbolt"}
{:id :onr-gray-ops
 :name "Gray Ops"}
{:id :onr-connection
 :name "Connection"}
{:id :onr-watchdog
 :name "Watchdog"}
{:id :onr-black-ice
 :name "Black Ice"}
{:id :onr-hellhound
 :name "Hellhound"}
{:id :onr-sysop
 :name "Sysop"}
{:id :onr-ambush
 :name "Ambush"}
{:id :onr-firestarter
 :name "Firestarter"}
{:id :onr-stealth
 :name "Stealth"}
{:id :onr-zombie
 :name "Zombie"}
{:id :onr-chip
 :name "Chip"}
{:id :onr-unique
 :name "Unique"}
{:id :onr-brainwipe
 :name "Brainwipe"}
{:id :onr-region
 :name "Region"}
{:id :onr-wall
 :name "Wall"}
{:id :onr-cybernetics
 :name "Cybernetics"}
{:id :onr-worm
 :name "Worm"}
{:id :onr-pit-bull
 :name "Pit Bull"}
{:id :onr-bloodhound
 :name "Bloodhound"}
{:id :onr-position
 :name "Position"}
{:id :onr-noisy
 :name "Noisy"}
{:id :onr-detection
 :name "Detection"}
{:id :onr-sword
 :name "Sword"}
{:id :onr-stun
 :name "Stun"}
{:id :onr-knockout
 :name "Knockout"}
{:id :onr-deckrash
 :name "DecKrash"}
{:id :onr-hidden
 :name "Hidden"}
{:id :onr-bad-publicity
 :name "Bad Publicity"}
{:id :onr-ice
 :name "Ice"}
{:id :onr-sleepy
 :name "Sleepy"}
{:id :onr-double
 :name "Double"}
{:id :onr-deflector
 :name "Deflector"}
{:id :onr-vehicle
 :name "Vehicle"}
{:id :onr-base-link
 :name "Base Link"}
{:id :onr-transactions
 :name "Transactions"}
{:id :onr-daemon
 :name "Daemon"}
{:id :onr-icebreaker
 :name "Icebreaker"}
{:id :onr-random
 :name "Random"}
{:id :onr-asset
 :name "Asset"}
{:id :onr-sabotage
 :name "Sabotage"}
{:id :onr-deck
 :name "Deck"}
{:id :onr-research
 :name "Research"}
{:id :onr-sentry
 :name "Sentry"}
{:id :onr-flatline
 :name "Flatline"}
{:id :onr-bbs
 :name "BBS"}
{:id :onr-code-gate
 :name "Code Gate"}
{:id :onr-killer
 :name "Killer"}
{:id :onr-advertisement
 :name "Advertisement"}
{:id :onr-black-ops
 :name "Black Ops"}
{:id :onr-ai
 :name "AI"}
{:id :onr-virus
 :name "Virus"}
{:id :onr-ap
 :name "AP"}
{:id :onr-hellbolt
 :name "Hellbolt"}
{:id :onr-gray-ops
 :name "Gray Ops"}
{:id :onr-connection
 :name "Connection"}
{:id :onr-watchdog
 :name "Watchdog"}
{:id :onr-black-ice
 :name "Black Ice"}
{:id :onr-hellhound
 :name "Hellhound"}
{:id :onr-sysop
 :name "Sysop"}
{:id :onr-ambush
 :name "Ambush"}
{:id :onr-firestarter
 :name "Firestarter"}
{:id :onr-stealth
 :name "Stealth"}
{:id :onr-zombie
 :name "Zombie"}
{:id :onr-chip
 :name "Chip"}
{:id :onr-unique
 :name "Unique"}
{:id :onr-brainwipe
 :name "Brainwipe"}
{:id :onr-region
 :name "Region"}
{:id :onr-wall
 :name "Wall"}
{:id :onr-cybernetics
 :name "Cybernetics"}
{:id :onr-worm
 :name "Worm"}
{:id :onr-pit-bull
 :name "Pit Bull"}
{:id :onr-bloodhound
 :name "Bloodhound"}
{:id :onr-position
 :name "Position"}
{:id :onr-noisy
 :name "Noisy"}
{:id :onr-detection
 :name "Detection"}
{:id :onr-sword
 :name "Sword"}
{:id :onr-stun
 :name "Stun"}
{:id :onr-knockout
 :name "Knockout"}
{:id :onr-deckrash
 :name "DecKrash"}
{:id :onr-hidden
 :name "Hidden"}
{:id :onr-bad-publicity
 :name "Bad Publicity"}
{:id :onr-ice
 :name "Ice"}
{:id :onr-sleepy
 :name "Sleepy"}
{:id :onr-double
 :name "Double"}
{:id :onr-deflector
 :name "Deflector"}
{:id :onr-vehicle
 :name "Vehicle"}
{:id :onr-base-link
 :name "Base Link"}
{:id :onr-transactions
 :name "Transactions"}
{:id :onr-daemon
 :name "Daemon"}
{:id :onr-icebreaker
 :name "Icebreaker"}
{:id :onr-random
 :name "Random"}
{:id :onr-asset
 :name "Asset"}
{:id :onr-sabotage
 :name "Sabotage"}
{:id :onr-deck
 :name "Deck"}
{:id :onr-research
 :name "Research"}
{:id :onr-sentry
 :name "Sentry"}
{:id :onr-flatline
 :name "Flatline"}
{:id :onr-bbs
 :name "BBS"}
{:id :onr-code-gate
 :name "Code Gate"}
{:id :onr-killer
 :name "Killer"}
{:id :onr-advertisement
 :name "Advertisement"}
{:id :onr-black-ops
 :name "Black Ops"}
{:id :onr-ai
 :name "AI"}
{:id :onr-virus
 :name "Virus"}
{:id :onr-ap
 :name "AP"}
{:id :onr-hellbolt
 :name "Hellbolt"}
{:id :onr-gray-ops
 :name "Gray Ops"}
{:id :onr-connection
 :name "Connection"}
{:id :onr-watchdog
 :name "Watchdog"}
{:id :onr-black-ice
 :name "Black Ice"}
{:id :onr-hellhound
 :name "Hellhound"}
{:id :onr-sysop
 :name "Sysop"}
{:id :onr-ambush
 :name "Ambush"}
{:id :onr-firestarter
 :name "Firestarter"}
{:id :onr-stealth
 :name "Stealth"}
{:id :onr-zombie
 :name "Zombie"}
{:id :onr-chip
 :name "Chip"}
{:id :onr-unique
 :name "Unique"}
{:id :onr-brainwipe
 :name "Brainwipe"}
{:id :onr-region
 :name "Region"}
{:id :onr-wall
 :name "Wall"}
{:id :onr-cybernetics
 :name "Cybernetics"}
{:id :onr-worm
 :name "Worm"}
{:id :onr-pit-bull
 :name "Pit Bull"}
{:id :onr-bloodhound
 :name "Bloodhound"}
{:id :onr-position
 :name "Position"}
{:id :onr-noisy
 :name "Noisy"}
{:id :onr-detection
 :name "Detection"}
{:id :onr-sword
 :name "Sword"}
{:id :onr-stun
 :name "Stun"}
{:id :onr-knockout
 :name "Knockout"}
{:id :onr-deckrash
 :name "DecKrash"}
{:id :onr-hidden
 :name "Hidden"}
{:id :onr-bad-publicity
 :name "Bad Publicity"}
{:id :onr-ice
 :name "Ice"}
{:id :onr-sleepy
 :name "Sleepy"}
{:id :onr-double
 :name "Double"}
{:id :onr-deflector
 :name "Deflector"}]
