{:id "onr-base"
  :name "Base"
  :position 700
  :rotated false
  :size 374}
{:id "onr-classic"
  :name "Classic"
  :position 701
  :rotated false
  :size 52}
{:id "onr-proteus"
  :name "Proteus"
  :position 702
  :rotated false
  :size 154}]
