{:cost 5
 :deck-limit 99
 :faction :onr-runner
 :id "onr-faked-hit"
 :influence-cost 1
 :side :runner
 :stripped-text "Give the Corp 1 Bad Publicity point. Take 2 brain damage. This damage cannot be prevented. If the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :stripped-title "ONR Faked Hit"
 :subtype [:onr-bad-publicity]
 :text "Give the Corp 1 Bad Publicity point. Take 2 brain damage. This damage cannot be prevented.\nIf the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :title "ONR Faked Hit"
 :type :event
 :uniqueness false}