{:cost 6
 :deck-limit 99
 :faction :onr-runner
 :id "onr-dwarf"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :strength 3
 :stripped-text "1 credit: Break wall subroutine. 1 credit: +1 strength."
 :stripped-title "ONR Dwarf"
 :subtype [:onr-icebreaker :onr-worm]
 :text "1 [credit]: Break wall subroutine. 1 [credit]: +1 strength."
 :title "ONR Dwarf"
 :type :program
 :uniqueness false}