{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-fortress-architects"
 :influence-cost 1
 :side :corp
 :stripped-text "Cost to install ice is reduced by 1 credit."
 :stripped-title "ONR Fortress Architects"
 :text "Cost to install ice is reduced by 1 [credit]."
 :title "ONR Fortress Architects"
 :trash-cost 3
 :type :asset
 :uniqueness false}