{:advancement-requirement 3
 :agenda-points 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-corporate-war"
 :side :corp
 :subtype [:onr-black-ops]
 :stripped-text "If you have 12 credit or more bits in your pool when you score Corporate War, gain 12 credit; otherwise, lose all bits."
 :stripped-title "ONR Corporate War"
 :text "If you have 12 [credit] or more bits in your pool when you score Corporate War, gain 12 [credit]; otherwise, lose all bits."
 :title "ONR Corporate War"
 :type :agenda
 :uniqueness false}
