{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-hacker-tracker-central"
 :influence-cost 1
 :side :corp
 :stripped-text "After each trace attempt, whether successful or not, put 1 credit from the bank on Hacker Tracker Central. During a trace attempt, each bit you spend from Hacker Tracker Central increases by 1 both your trace strength and your trace limit."
 :stripped-title "ONR Hacker Tracker Central"
 :subtype [:onr-asset]
 :text "After each trace attempt, whether successful or not, put 1 [credit] from the bank on Hacker Tracker Central. During a trace attempt, each bit you spend from Hacker Tracker Central increases by 1 both your trace strength and your trace limit."
 :title "ONR Hacker Tracker Central"
 :trash-cost 2
 :type :asset
 :uniqueness false}