{:cost 5
 :deck-limit 99
 :faction :onr-corp
 :id "onr-crystal-palace-station-grid"
 :influence-cost 1
 :side :corp
 :stripped-text "Runner must pay 1 credit, in addition to the normal cost, to break each subroutine of each piece of ice encountered during runs on this fort. Rez a region when you install it.  Install a region only if you can pay to rez it.  Only one region may be installed in each fort. Trash older ones."
 :stripped-title "ONR Crystal Palace Station Grid"
 :subtype [:onr-region]
 :text "Runner must pay 1 [credit], in addition to the normal cost, to break each subroutine of each piece of ice encountered during runs on this fort. Rez a region when you install it. \nInstall a region only if you can pay to rez it. \nOnly one region may be installed in each fort. Trash older ones."
 :title "ONR Crystal Palace Station Grid"
 :trash-cost 5
 :type :upgrade
 :uniqueness false}