{:cost 1
 :deck-limit 99
 :faction :onr-corp
 :id "onr-twentyfourhour-surveillance"
 :influence-cost 1
 :side :corp
 :stripped-text "During runs on this fort, Runner cannot use bits from stealth sources."
 :stripped-title "ONR TwentyFourHour Surveillance"
 :text "During runs on this fort, Runner cannot use bits from stealth sources."
 :title "ONR Twenty-Four-Hour Surveillance"
 :trash-cost 2
 :type :upgrade
 :uniqueness false}