{:cost 1
 :deck-limit 99
 :faction :onr-corp
 :id "onr-data-masons"
 :influence-cost 1
 :side :corp
 :stripped-text "Cost to rez walls is reduced by 2 credit. All walls have +1 strength."
 :stripped-title "ONR Data Masons"
 :text "Cost to rez walls is reduced by 2 [credit]. All walls have +1 strength."
 :title "ONR Data Masons"
 :trash-cost 1
 :type :asset
 :uniqueness false}