{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-emergency-selfconstruct"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "T credit: Prevent yourself from being flatlined, though you still lose all cards in your hand. Remove all brain damage. For the remainder of the game, you have only three actions per turn, instead of four; your hand size is reduced by 1; and all meat damage is automatically prevented."
 :stripped-title "ONR Emergency SelfConstruct"
 :text "T [credit]: Prevent yourself from being flatlined, though you still lose all cards in your hand. Remove all brain damage. For the remainder of the game, you have only three actions per turn, instead of four; your hand size is reduced by 1; and all meat damage is automatically prevented."
 :title "ONR Emergency Self-Construct"
 :type :program
 :uniqueness false}