{:cost 4
 :deck-limit 99
 :faction :onr-runner
 :id "onr-early-worm"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :strength 2
 :stripped-text "1 credit: Break wall subroutine.  2 credit: +3 strength"
 :stripped-title "ONR Early Worm"
 :subtype [:onr-worm]
 :text "1 [credit]: Break wall subroutine. \n2 [credit]: +3 strength"
 :title "ONR Early Worm"
 :type :program
 :uniqueness false}