{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-expert-schedule-analyzer"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "After you access cards from HQ, look at all cards stored in HQ."
 :stripped-title "ONR Expert Schedule Analyzer"
 :text "After you access cards from HQ, look at all cards stored in HQ."
 :title "ONR Expert Schedule Analyzer"
 :type :program
 :uniqueness false}