{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-microtech-ai-interface"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you are about to access cards from R&D, you may first choose to cut any number of cards from the top of R&D to the bottom of R&D."
 :stripped-title "ONR Microtech AI Interface"
 :text "Whenever you are about to access cards from R&D, you may first choose to cut any number of cards from the top of R&D to the bottom of R&D."
 :title "ONR Microtech AI Interface"
 :type :program
 :uniqueness false}