{:cost 2
 :deck-limit 99
 :faction :onr-runner
 :id "onr-subliminal-corruption"
 :influence-cost 1
 :side :runner
 :stripped-text "Make a run. Give the Corp 1 Bad Publicity point for each advertisement you trash during the run. If the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :stripped-title "ONR Subliminal Corruption"
 :subtype [:onr-bad-publicity]
 :text "Make a run. Give the Corp 1 Bad Publicity point for each advertisement you trash during the run.\nIf the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :title "ONR Subliminal Corruption"
 :type :event
 :uniqueness false}