{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-raymond-ellison"
 :influence-cost 1
 :side :corp
 :stripped-text "Install Raymond Ellison only in a subsidiary data fort.  T credit: Remove any number of advancement counters from cards installed in this data fort. Gain 3 credit for each advancement counter removed. Use this ability only during a run.  At the end of the run, return to the bank any of the bits gained that you did not spend."
 :stripped-title "ONR Raymond Ellison"
 :subtype [:onr-sysop]
 :text "Install Raymond Ellison only in a subsidiary data fort. \nT [credit]: Remove any number of advancement counters from cards installed in this data fort. Gain 3 [credit] for each advancement counter removed. Use this ability only during a run. \nAt the end of the run, return to the bank any of the bits gained that you did not spend."
 :title "ONR Raymond Ellison"
 :trash-cost 2
 :type :upgrade
 :uniqueness false}