{:cost 10
 :deck-limit 99
 :faction :onr-corp
 :id "onr-credit-consolidation"
 :influence-cost 1
 :side :corp
 :stripped-text "Gain 15 credit."
 :stripped-title "ONR Credit Consolidation"
 :subtype [:onr-transactions]
 :text "Gain 15 [credit]."
 :title "ONR Credit Consolidation"
 :type :operation
 :uniqueness false}