{:cost 4
 :deck-limit 99
 :faction :onr-runner
 :id "onr-pk6089a"
 :influence-cost 1
 :side :runner
 :stripped-text "Provides +1 MU.  Put 3 credit from the bank on PK-6089a when it is installed. Use these bits only to pay for increasing your link. If you use any of these bits, replace them at the start of your next turn.  Only one deck can be in play at a time. Trash any older decks."
 :stripped-title "ONR PK6089a"
 :subtype [:onr-deck]
 :text "Provides +1 MU. \nPut 3 [credit] from the bank on PK-6089a when it is installed. Use these bits only to pay for increasing your link. If you use any of these bits, replace them at the start of your next turn. \nOnly one deck can be in play at a time. Trash any older decks."
 :title "ONR PK-6089a"
 :type :hardware
 :uniqueness false}