{:cost 3
 :deck-limit 99
 :faction :onr-runner
 :id "onr-renticon"
 :influence-cost 1
 :memory-cost 2
 :side :runner
 :strength 2
 :stripped-text "1 credit: Break ice subroutine. At the end of this run, trash Rent-I-Con.  1 credit: +1 strength"
 :stripped-title "ONR RentICon"
 :subtype [:onr-icebreaker]
 :text "1 [credit]: Break ice subroutine. At the end of this run, trash Rent-I-Con. \n1 [credit]: +1 strength"
 :title "ONR Rent-I-Con"
 :type :program
 :uniqueness false}