{:cost 5
 :deck-limit 99
 :faction :onr-corp
 :id "onr-fang"
 :influence-cost 1
 :side :corp
 :strength 4
 :stripped-text "S creditTrace 4-If trace is successful, end the run, and Runner cannot run again until Runner takes an action to pay 2 credit."
 :stripped-title "ONR Fang"
 :subtype [:onr-sentry :onr-pit-bull]
 :text "S [credit]Trace 4-If trace is successful, end the run, and Runner cannot run again until Runner takes an action to pay 2 [credit]."
 :title "ONR Fang"
 :type :ice
 :uniqueness false}