{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-miscforsale"
 :influence-cost 1
 :side :runner
 :stripped-text "Trash any number of your installed cards. Gain 3 credit for each card trashed in this way."
 :stripped-title "ONR miscforsale"
 :subtype [:onr-bbs]
 :text "Trash any number of your installed cards. Gain 3 [credit] for each card trashed in this way."
 :title "ONR misc.for-sale"
 :type :event
 :uniqueness false}