{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-data-fort-reclamation"
 :side :corp
 :subtype [:onr-gray-ops]
 :stripped-text "Gain 10 credit and choose up to four cards stored in HQ when you score Data Fort Reclamation. Create a new data fort using the cards chosen. Install the cards one at a time; you may rez them when you install them. Then, return to the bank any of the 10 credit not spent."
 :stripped-title "ONR Data Fort Reclamation"
 :text "Gain 10 [credit] and choose up to four cards stored in HQ when you score Data Fort Reclamation. Create a new data fort using the cards chosen. Install the cards one at a time; you may rez them when you install them. Then, return to the bank any of the 10 [credit] not spent."
 :title "ONR Data Fort Reclamation"
 :type :agenda
 :uniqueness false}
