{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-omni-kismet-ph-d"
 :influence-cost 1
 :side :corp
 :stripped-text "Swap a piece of unrezzed ice on this fort with an ice card stored in HQ. The new ice card comes into play concealed. Use this ability only once during each run on this fort."
 :stripped-title "ONR Omni Kismet Ph D"
 :subtype [:onr-sysop]
 :text "Swap a piece of unrezzed ice on this fort with an ice card stored in HQ. The new ice card comes into play concealed. Use this ability only once during each run on this fort."
 :title "ONR Omni Kismet, Ph. D."
 :trash-cost 3
 :type :upgrade
 :uniqueness false}