{:cost 1
 :deck-limit 99
 :faction :onr-runner
 :id "onr-access-through-kiribati"
 :influence-cost 1
 :side :runner
 :stripped-text "1 credit: Base link 1.  1 credit: +1 link.  Use only one base link card for each trace attempt made against you."
 :stripped-title "ONR Access through Kiribati"
 :subtype [:onr-base-link]
 :text "1 [credit]: Base link 1. \n1 [credit]: +1 link. \nUse only one base link card for each trace attempt made against you."
 :title "ONR Access through Kiribati"
 :type :resource
 :uniqueness false}