{:advancement-requirement 6
 :agenda-points 1
 :deck-limit 99
 :faction :onr-corp
 :id "onr-subsidiary-branch"
 :side :corp
 :subtype [:onr-gray-ops]
 :stripped-text "Gain an action during each of your turns."
 :stripped-title "ONR Subsidiary Branch"
 :text "Gain an action during each of your turns."
 :title "ONR Subsidiary Branch"
 :type :agenda
 :uniqueness false}
