{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-esa-contract"
 :influence-cost 1
 :side :corp
 :stripped-text "A: Draw two cards."
 :stripped-title "ONR ESA Contract"
 :text "A: Draw two cards."
 :title "ONR ESA Contract"
 :trash-cost 3
 :type :asset
 :uniqueness false}