{:cost 6
 :deck-limit 99
 :faction :onr-corp
 :id "onr-razor-wire"
 :influence-cost 1
 :side :corp
 :strength 3
 :stripped-text "S creditDo 2 Net damage.  S creditEnd the run."
 :stripped-title "ONR Razor Wire"
 :subtype [:onr-wall]
 :text "S [credit]Do 2 Net damage. \nS [credit]End the run."
 :title "ONR Razor Wire"
 :type :ice
 :uniqueness false}