{:cost 6
 :deck-limit 99
 :faction :onr-runner
 :id "onr-pandoras-deck"
 :influence-cost 1
 :side :runner
 :stripped-text "Provides +2 MU.  Put 3 credit from the bank on Pandora's Deck when it is installed. Use these bits only to pay for increasing your link. If you use any of these bits, replace them at the start of your next turn.  Only one deck can be in play at a time. Trash any older decks."
 :stripped-title "ONR Pandoras Deck"
 :subtype [:onr-deck]
 :text "Provides +2 MU. \nPut 3 [credit] from the bank on Pandora's Deck when it is installed. Use these bits only to pay for increasing your link. If you use any of these bits, replace them at the start of your next turn. \nOnly one deck can be in play at a time. Trash any older decks."
 :title "ONR Pandora's Deck"
 :type :hardware
 :uniqueness false}