{:cost 5
 :deck-limit 99
 :faction :onr-runner
 :id "onr-omnitech-spinal-tap-cybermodem"
 :influence-cost 1
 :side :runner
 :stripped-text "Provides +1 Mu.  Put 2 credit from the bank on Omnitech \"Spinal Tap\" Cybermodem when it is installed. Use this bits only to pay for using icebreakers during runs or increasing your link. If you use any of these bits, replace them at the start of your next turn.  At the start of each of your turns roll a die. On a 1, suffer 2 brain damage. This damage cannot be prevented.  If Omnitech \"Spinal Tap\" Cyermodem leaves play suffer 2 brain damage.  Only one deck can be in play at a time. Trash any older decks."
 :stripped-title "ONR Omnitech Spinal Tap Cybermodem"
 :subtype [:onr-deck :onr-random]
 :text "Provides +1 Mu. \nPut 2 [credit] from the bank on Omnitech \"Spinal Tap\" Cybermodem when it is installed. Use this bits only to pay for using icebreakers during runs or increasing your link. If you use any of these bits, replace them at the start of your next turn. \nAt the start of each of your turns roll a die. On a 1, suffer 2 brain damage. This damage cannot be prevented. \nIf Omnitech \"Spinal Tap\" Cyermodem leaves play suffer 2 brain damage. \nOnly one deck can be in play at a time. Trash any older decks."
 :title "ONR Omnitech \"Spinal Tap\" Cybermodem"
 :type :hardware
 :uniqueness false}