{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-the-springboard"
 :influence-cost 1
 :side :runner
 :stripped-text "1 credit: +1 link. Use this ability only once during each trace attempt, and only after you and the Corp have revealed how much each of you spent."
 :stripped-title "ONR The Springboard"
 :subtype [:onr-bbs]
 :text "1 [credit]: +1 link. Use this ability only once during each trace attempt, and only after you and the Corp have revealed how much each of you spent."
 :title "ONR The Springboard"
 :type :resource
 :uniqueness false}