{:cost 1
 :deck-limit 99
 :faction :onr-runner
 :id "onr-forged-activation-orders"
 :influence-cost 1
 :side :runner
 :stripped-text "Choose a piece of ice. The Corp either rezzes that piece of ice or trashes it."
 :stripped-title "ONR Forged Activation Orders"
 :subtype [:onr-sabotage]
 :text "Choose a piece of ice. The Corp either rezzes that piece of ice or trashes it."
 :title "ONR Forged Activation Orders"
 :type :event
 :uniqueness false}