{:advancement-requirement 6
 :agenda-points 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-corporate-boon"
 :side :corp
 :subtype [:onr-asset]
 :stripped-text "Put four Boon counters on Corporate Boon when you score it.  Boon Counter: Gain an action. Use this ability only once per turn and only during your turn."
 :stripped-title "ONR Corporate Boon"
 :text "Put four Boon counters on Corporate Boon when you score it. \nBoon Counter: Gain an action. Use this ability only once per turn and only during your turn."
 :title "ONR Corporate Boon"
 :type :agenda
 :uniqueness false}
