{:cost 3
 :deck-limit 99
 :faction :onr-runner
 :id "onr-allhands"
 :influence-cost 1
 :side :runner
 :stripped-text "Make a run on HQ. If run is successful, access three additional cards from HQ. You cannot use noisy icebreakers during the run."
 :stripped-title "ONR AllHands"
 :text "Make a run on HQ. If run is successful, access three additional cards from HQ. You cannot use noisy icebreakers during the run."
 :title "ONR All-Hands"
 :type :event
 :uniqueness false}