{:cost 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-selfdestruct"
 :influence-cost 1
 :side :corp
 :stripped-text "Install Self-Destruct only in a subsidiary data fort.  T credit: Trash all other cards installed in or on this data fort. Do 1 Net damage for each card successfully trashed in this way. Use this ability only when Runner accesses Self-Destruct."
 :stripped-title "ONR SelfDestruct"
 :subtype [:onr-ambush]
 :text "Install Self-Destruct only in a subsidiary data fort. \nT [credit]: Trash all other cards installed in or on this data fort. Do 1 Net damage for each card successfully trashed in this way. Use this ability only when Runner accesses Self-Destruct."
 :title "ONR Self-Destruct"
 :trash-cost 0
 :type :upgrade
 :uniqueness false}