{:cost 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-scorched-earth"
 :influence-cost 1
 :side :corp
 :stripped-text "Play only if Runner is tagged. Do 4 meat damage."
 :stripped-title "ONR Scorched Earth"
 :subtype [:onr-black-ops]
 :text "Play only if Runner is tagged. Do 4 meat damage."
 :title "ONR Scorched Earth"
 :type :operation
 :uniqueness false}