{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-do-the-drine-tm"
 :influence-cost 1
 :side :runner
 :stripped-text "Suffer any amount of brain damage, but not enough to flatline you or to reduce your hand size to less than 0.  Gain 4 credit for each point of brain damage you suffer in this way.  This damage cannot be prevented."
 :stripped-title "ONR Do the Drine TM"
 :text "Suffer any amount of brain damage, but not enough to flatline you or to reduce your hand size to less than 0. \nGain 4 [credit] for each point of brain damage you suffer in this way. \nThis damage cannot be prevented."
 :title "ONR Do the 'Drine [TM]"
 :type :event
 :uniqueness false}