{:cost 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-puzzle"
 :influence-cost 1
 :side :corp
 :strength 5
 :stripped-text "S creditEnd the run, and trash Puzzle at end of turn. S creditEnd the run, and trash Puzzle at end of turn."
 :stripped-title "ONR Puzzle"
 :subtype [:onr-code-gate]
 :text "S [credit]End the run, and trash Puzzle at end of turn.\nS [credit]End the run, and trash Puzzle at end of turn."
 :title "ONR Puzzle"
 :type :ice
 :uniqueness false}