{:advancement-requirement 4
 :agenda-points 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-project-venice"
 :side :corp
 :subtype [:onr-asset]
 :stripped-text "For every three advancement counters over Project Venice 's difficulty that are on Project Venice when you score it, gain an action during each of your turns."
 :stripped-title "ONR Project Venice"
 :text "For every three advancement counters over Project Venice 's difficulty that are on Project Venice when you score it, gain an action during each of your turns."
 :title "ONR Project Venice"
 :type :agenda
 :uniqueness false}
