{:cost 1
 :deck-limit 99
 :faction :onr-runner
 :id "onr-mram-chip"
 :influence-cost 1
 :side :runner
 :stripped-text "Hand size +2"
 :stripped-title "ONR MRAM Chip"
 :subtype [:onr-chip :onr-cybernetics]
 :text "Hand size +2"
 :title "ONR MRAM Chip"
 :type :hardware
 :uniqueness false}