{:cost 1
 :deck-limit 99
 :faction :onr-runner
 :id "onr-diplomatic-immunity"
 :influence-cost 1
 :side :runner
 :stripped-text "Prevents all meat damage. The Corp may pay 1 agenda point to cancel this effect until end of turn. Only one unique card of a particular name can be in play at a time. If for some reason more than one is in play, trash all but one."
 :stripped-title "ONR Diplomatic Immunity"
 :subtype [:onr-unique]
 :text "Prevents all meat damage. The Corp may pay 1 agenda point to cancel this effect until end of turn. Only one unique card of a particular name can be in play at a time. If for some reason more than one is in play, trash all but one."
 :title "ONR Diplomatic Immunity"
 :type :resource
 :uniqueness true}