{:cost 3
 :deck-limit 99
 :faction :onr-runner
 :id "onr-viral-pipeline"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "After each successful run on Archives, HQ, or R&D, put a Socket counter in that data fort. Socket counter from Archives, Socket counter from HQ, and Socket counter from R&D: Give the Corp a Pipe counter. Each Pipe counter causes the Corp to forgo an action at the start of each of its turns.  The Corp may remove all Virus counters at any time, but must then forgo its next three actions."
 :stripped-title "ONR Viral Pipeline"
 :subtype [:onr-virus]
 :text "After each successful run on Archives, HQ, or R&D, put a Socket counter in that data fort.\nSocket counter from Archives, Socket counter from HQ, and Socket counter from R&D: Give the Corp a Pipe counter. Each Pipe counter causes the Corp to forgo an action at the start of each of its turns. \nThe Corp may remove all Virus counters at any time, but must then forgo its next three actions."
 :title "ONR Viral Pipeline"
 :type :program
 :uniqueness false}