{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-deep-thought"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you make a successful run on R&D, give the Corp a Thought counter. Three or more Thought  counters allow you to look at the top card of R&D at the start of each of your turns. The Corp may remove all Virus counters by forgoing its next three actions."
 :stripped-title "ONR Deep Thought"
 :subtype [:onr-virus]
 :text "Whenever you make a successful run on R&D, give the Corp a Thought counter. Three or more Thought \ncounters allow you to look at the top card of R&D at the start of each of your turns. The Corp may remove all Virus counters by forgoing its next three actions."
 :title "ONR Deep Thought"
 :type :program
 :uniqueness false}