{:cost 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-roving-submarine"
 :influence-cost 1
 :side :corp
 :stripped-text "Install only inside a subsidiary data fort. This fort may be run only if you installed or advanced a card inside or on this fort during your last turn.  Rez a region when you install it.  Install a region only if you can pay to rez it.  Only one region may be installed in each fort. Trash older ones."
 :stripped-title "ONR Roving Submarine"
 :subtype [:onr-region]
 :text "Install only inside a subsidiary data fort. This fort may be run only if you installed or advanced a card inside or on this fort during your last turn. \nRez a region when you install it. \nInstall a region only if you can pay to rez it. \nOnly one region may be installed in each fort. Trash older ones."
 :title "ONR Roving Submarine"
 :trash-cost 0
 :type :upgrade
 :uniqueness false}