{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-zetatech-software-installer"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Put 2 credit on Software Installer when it is installed. Use these bits only to pay for installing programs. You may use these bits to install a program overwriting Software Installer itself. If you use any of these bits, replace them at the start of your next turn."
 :stripped-title "ONR Zetatech Software Installer"
 :text "Put 2 [credit] on Software Installer when it is installed. Use these bits only to pay for installing programs. You may use these bits to install a program overwriting Software Installer itself. If you use any of these bits, replace them at the start of your next turn."
 :title "ONR Zetatech Software Installer"
 :type :program
 :uniqueness false}