{:advancement-requirement 3
 :agenda-points 1
 :deck-limit 99
 :faction :onr-corp
 :id "onr-executive-extraction"
 :side :corp
 :subtype [:onr-black-ops]
 :stripped-text "Difficulty of Gray Ops agendas is reduced by 1."
 :stripped-title "ONR Executive Extraction"
 :text "Difficulty of Gray Ops agendas is reduced by 1."
 :title "ONR Executive Extraction"
 :type :agenda
 :uniqueness false}
