{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-ice-transmutation"
 :side :corp
 :subtype [:onr-research]
 :stripped-text "Choose a piece of rezzed ice when you score Ice Transmutation. That ice now has +1 strength, and each subroutine on it is repeated once. Treat this as if each repeated subroutine appeared immediately after the original subroutine."
 :stripped-title "ONR Ice Transmutation"
 :text "Choose a piece of rezzed ice when you score Ice Transmutation. That ice now has +1 strength, and each subroutine on it is repeated once. Treat this as if each repeated subroutine appeared immediately after the original subroutine."
 :title "ONR Ice Transmutation"
 :type :agenda
 :uniqueness false}
