{:cost 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-gatekeeper"
 :influence-cost 1
 :side :corp
 :strength 4
 :stripped-text "Gatekeeper has one \"S creditEnd the run\" subroutine for every 2 credit you pay, above the rez cost, when you rez it."
 :stripped-title "ONR Gatekeeper"
 :subtype [:onr-code-gate]
 :text "Gatekeeper has one \"S [credit]End the run\" subroutine for every 2 [credit] you pay, above the rez cost, when you rez it."
 :title "ONR Gatekeeper"
 :type :ice
 :uniqueness false}