{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-beldigmo-antibody"
 :influence-cost 1
 :side :corp
 :stripped-text "Shuffle Bel-Digmo Antibody into R&D when it is rezzed.  When Runner accesses Bel-Digmo Antibody from R&D, do 1 Net damage, and Runner must show it to you."
 :stripped-title "ONR BelDigmo Antibody"
 :subtype [:onr-ambush :onr-virus]
 :text "Shuffle Bel-Digmo Antibody into R&D when it is rezzed. \nWhen Runner accesses Bel-Digmo Antibody from R&D, do 1 Net damage, and Runner must show it to you."
 :title "ONR Bel-Digmo Antibody"
 :trash-cost 0
 :type :asset
 :uniqueness false}