{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-umbrella-policy"
 :influence-cost 1
 :side :runner
 :stripped-text "T credit: Prevent an installed program or hardware card from being trashed."
 :stripped-title "ONR Umbrella Policy"
 :text "T [credit]: Prevent an installed program or hardware card from being trashed."
 :title "ONR Umbrella Policy"
 :type :resource
 :uniqueness false}