{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-chester-mix"
 :influence-cost 1
 :side :corp
 :stripped-text "Cost to install ice on this fort is reduced by 2 credit."
 :stripped-title "ONR Chester Mix"
 :subtype [:onr-sysop]
 :text "Cost to install ice on this fort is reduced by 2 [credit]."
 :title "ONR Chester Mix"
 :trash-cost 3
 :type :upgrade
 :uniqueness false}