{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-indiscriminate-response-team"
 :influence-cost 1
 :side :corp
 :stripped-text "After Runner makes a successful run, you may have Runner shuffle his or her hand into his or her stack and then draw as many cards as he or she had before."
 :stripped-title "ONR Indiscriminate Response Team"
 :subtype [:onr-black-ops]
 :text "After Runner makes a successful run, you may have Runner shuffle his or her hand into his or her stack and then draw as many cards as he or she had before."
 :title "ONR Indiscriminate Response Team"
 :trash-cost 2
 :type :asset
 :uniqueness false}