{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-back-door-to-orbital-air"
 :influence-cost 1
 :side :runner
 :stripped-text "1 credit: Base link 2.  2 credit: +1 link.  Use only one base link card for each trace attempt made against you."
 :stripped-title "ONR Back Door to Orbital Air"
 :subtype [:onr-base-link]
 :text "1 [credit]: Base link 2. \n2 [credit]: +1 link. \nUse only one base link card for each trace attempt made against you."
 :title "ONR Back Door to Orbital Air"
 :type :resource
 :uniqueness false}