{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-boardwalk"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you make a successful run on HQ, give the Corp a Boardwalk counter. At the start of each  of your turns, every two Boardwalk counters require the Corp to show you, at random, a card stored in HQ. If the Corp does not have enough cards stored in HQ, the Corp shows you as many cards as it has. The Corp may remove all Virus counters by forgoing its next three actions."
 :stripped-title "ONR Boardwalk"
 :subtype [:onr-virus]
 :text "Whenever you make a successful run on HQ, give the Corp a Boardwalk counter. At the start of each \nof your turns, every two Boardwalk counters require the Corp to show you, at random, a card stored in HQ. If the Corp does not have enough cards stored in HQ, the Corp shows you as many cards as it has. The Corp may remove all Virus counters by forgoing its next three actions."
 :title "ONR Boardwalk"
 :type :program
 :uniqueness false}