{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-reclamation-project"
 :influence-cost 1
 :side :corp
 :stripped-text "Search the archives for any number of ice cards. Show those cards to Runner, then store them in HQ.  Playing a double operation costs two consecutive actions this turn instead of one."
 :stripped-title "ONR Reclamation Project"
 :subtype [:onr-double]
 :text "Search the archives for any number of ice cards. Show those cards to Runner, then store them in HQ. \nPlaying a double operation costs two consecutive actions this turn instead of one."
 :title "ONR Reclamation Project"
 :type :operation
 :uniqueness false}