{:cost 3
 :deck-limit 99
 :faction :onr-runner
 :id "onr-dogcatcher"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :strength 3
 :stripped-text "1 credit: Break pit bull, hellhound, bloodhound, or watchdog subroutine. 1 credit: +1 strength."
 :stripped-title "ONR Dogcatcher"
 :subtype [:onr-icebreaker]
 :text "1 [credit]: Break pit bull, hellhound, bloodhound, or watchdog subroutine. 1 [credit]: +1 strength."
 :title "ONR Dogcatcher"
 :type :program
 :uniqueness false}