{:cost 2
 :deck-limit 99
 :faction :onr-runner
 :id "onr-nomad-allies"
 :influence-cost 1
 :side :runner
 :stripped-text "A, 1 credit: Remove a tag, at no cost.  T credit: Avoid receiving a tag."
 :stripped-title "ONR Nomad Allies"
 :subtype [:onr-connection]
 :text "A, 1 [credit]: Remove a tag, at no cost. \nT [credit]: Avoid receiving a tag."
 :title "ONR Nomad Allies"
 :type :resource
 :uniqueness false}