{:cost 4
 :deck-limit 99
 :faction :onr-runner
 :id "onr-shaka"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :strength 2
 :stripped-text "1 credit: Break sentry subroutine.  2 credit: +1 strength."
 :stripped-title "ONR Shaka"
 :subtype [:onr-icebreaker :onr-killer]
 :text "1 [credit]: Break sentry subroutine. \n2 [credit]: +1 strength."
 :title "ONR Shaka"
 :type :program
 :uniqueness false}