{:cost 5
 :deck-limit 99
 :faction :onr-corp
 :id "onr-accounts-receivable"
 :influence-cost 1
 :side :corp
 :stripped-text "Gain 9 credit."
 :stripped-title "ONR Accounts Receivable"
 :subtype [:onr-transactions]
 :text "Gain 9 [credit]."
 :title "ONR Accounts Receivable"
 :type :operation
 :uniqueness false}