{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-false-echo"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "2 credit: The Corp must rez as much ice as possible on a fort, beginning with the outermost ice and working in. Use this ability only after a successful run on that fort."
 :stripped-title "ONR False Echo"
 :text "2 [credit]: The Corp must rez as much ice as possible on a fort, beginning with the outermost ice and working in. Use this ability only after a successful run on that fort."
 :title "ONR False Echo"
 :type :program
 :uniqueness false}