{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-annual-reviews"
 :influence-cost 1
 :side :corp
 :stripped-text "Draw three cards."
 :stripped-title "ONR Annual Reviews"
 :text "Draw three cards."
 :title "ONR Annual Reviews"
 :type :operation
 :uniqueness false}