{:cost 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-i-got-a-rock"
 :influence-cost 1
 :side :corp
 :stripped-text "A, 3 agenda points, Do 15 meat damage to Runner. Use this ability only if Runner has two or more tags."
 :stripped-title "ONR I Got a Rock"
 :subtype [:onr-black-ops]
 :text "A, 3 agenda points, Do 15 meat damage to Runner. Use this ability only if Runner has two or more tags."
 :title "ONR I Got a Rock"
 :trash-cost 2
 :type :asset
 :uniqueness false}