{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-olivia-salazar"
 :influence-cost 1
 :side :corp
 :stripped-text "For half cost, rounded down, rez a piece of ice installed on this fort. Derez that ice at the end of the run. Use this ability only once during each run on this fort."
 :stripped-title "ONR Olivia Salazar"
 :subtype [:onr-sysop]
 :text "For half cost, rounded down, rez a piece of ice installed on this fort. Derez that ice at the end of the run. Use this ability only once during each run on this fort."
 :title "ONR Olivia Salazar"
 :trash-cost 1
 :type :upgrade
 :uniqueness false}