{:cost 4
 :deck-limit 99
 :faction :onr-corp
 :id "onr-homing-missile"
 :influence-cost 1
 :side :corp
 :strength 0
 :stripped-text "S creditTrace x-If trace is successful, end the run, and Runner cannot make another run until Runner takes an action to pay 2 credit.  Pay X, above the rez cost, when you rez Homing Missile. X is Homing Missile 's strength and trace limit, and X cannot be greater than 8."
 :stripped-title "ONR Homing Missile"
 :subtype [:onr-sentry]
 :text "S [credit]Trace x-If trace is successful, end the run, and Runner cannot make another run until Runner takes an action to pay 2 [credit]. \nPay X, above the rez cost, when you rez Homing Missile. X is Homing Missile 's strength and trace limit, and X cannot be greater than 8."
 :title "ONR Homing Missile"
 :type :ice
 :uniqueness false}