{:cost 1
 :deck-limit 99
 :faction :onr-runner
 :id "onr-senatorial-field-trip"
 :influence-cost 1
 :side :runner
 :stripped-text "Play only if the Corp rezzed a piece of Black Ice this turn. The Corp either derezzes that piece of ice or receives 2 Bad Publicity points.  If the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :stripped-title "ONR Senatorial Field Trip"
 :subtype [:onr-bad-publicity]
 :text "Play only if the Corp rezzed a piece of Black Ice this turn. The Corp either derezzes that piece of ice or receives 2 Bad Publicity points. \nIf the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :title "ONR Senatorial Field Trip"
 :type :event
 :uniqueness false}