{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-stereogram-antibody"
 :influence-cost 1
 :side :corp
 :stripped-text "When Runner accesses Stereogram Antibody from the Archives, do 1 Net damage and shuffle Stereogram Antibody into R&D."
 :stripped-title "ONR Stereogram Antibody"
 :subtype [:onr-ambush :onr-virus]
 :text "When Runner accesses Stereogram Antibody from the Archives, do 1 Net damage and shuffle Stereogram Antibody into R&D."
 :title "ONR Stereogram Antibody"
 :trash-cost 0
 :type :asset
 :uniqueness false}