{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-day-shift"
 :influence-cost 1
 :side :corp
 :stripped-text "Draw two cards and gain 1 credit."
 :stripped-title "ONR Day Shift"
 :text "Draw two cards and gain 1 [credit]."
 :title "ONR Day Shift"
 :type :operation
 :uniqueness false}