{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-efficiency-experts"
 :influence-cost 1
 :side :corp
 :stripped-text "Gain 3 credit."
 :stripped-title "ONR Efficiency Experts"
 :subtype [:onr-transactions]
 :text "Gain 3 [credit]."
 :title "ONR Efficiency Experts"
 :type :operation
 :uniqueness false}