{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-rustbelt-hq-branch"
 :influence-cost 1
 :side :corp
 :stripped-text "Hand size +2"
 :stripped-title "ONR Rustbelt HQ Branch"
 :subtype [:onr-asset]
 :text "Hand size +2"
 :title "ONR Rustbelt HQ Branch"
 :trash-cost 2
 :type :asset
 :uniqueness false}