{:cost 9
 :deck-limit 99
 :faction :onr-runner
 :id "onr-access-through-alpha"
 :influence-cost 1
 :side :runner
 :stripped-text "1 credit: Base link 9. Use only one base link card for each trace attempt made against you."
 :stripped-title "ONR Access through Alpha"
 :subtype [:onr-base-link]
 :text "1 [credit]: Base link 9. Use only one base link card for each trace attempt made against you."
 :title "ONR Access through Alpha"
 :type :resource
 :uniqueness false}