{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-jack-n-joe"
 :influence-cost 1
 :side :runner
 :stripped-text "Draw three cards."
 :stripped-title "ONR Jack n Joe"
 :text "Draw three cards."
 :title "ONR Jack 'n' Joe"
 :type :event
 :uniqueness false}