{:cost 3
 :deck-limit 99
 :faction :onr-runner
 :id "onr-scaldan"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "After each successful run on HQ, give the Corp a Scaldan counter. Each Scaldan counter forces the Corp to roll a die at the start of each of its turns. On a 5 or a 6, the Corp gains 1 Bad Publicity point.  The Corp may remove all Virus counters at any time, but must then forgo its next three actions.  If the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :stripped-title "ONR Scaldan"
 :subtype [:onr-virus :onr-bad-publicity :onr-random]
 :text "After each successful run on HQ, give the Corp a Scaldan counter. Each Scaldan counter forces the Corp to roll a die at the start of each of its turns. On a 5 or a 6, the Corp gains 1 Bad Publicity point. \nThe Corp may remove all Virus counters at any time, but must then forgo its next three actions. \nIf the Corp has 7 or more Bad Publicity points, it loses the game, even if it fulfills victory conditions at the same time."
 :title "ONR Scaldan"
 :type :program
 :uniqueness false}