{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-bolthole"
 :influence-cost 1
 :side :runner
 :stripped-text "T credit: Prevent 2 meat damage. Hidden resources are installed face down, but are put into the trash face up."
 :stripped-title "ONR BoltHole"
 :subtype [:onr-hidden]
 :text "T [credit]: Prevent 2 meat damage. Hidden resources are installed face down, but are put into the trash face up."
 :title "ONR Bolt-Hole"
 :type :resource
 :uniqueness false}