{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-simulacrum"
 :influence-cost 1
 :side :runner
 :stripped-text "T credit: Pass a piece of AP ice. You may use this ability during an encounter with a piece of ice. Hidden resources are installed face down, but are put into the trash face up."
 :stripped-title "ONR Simulacrum"
 :subtype [:onr-connection :onr-hidden]
 :text "T [credit]: Pass a piece of AP ice. You may use this ability during an encounter with a piece of ice.\nHidden resources are installed face down, but are put into the trash face up."
 :title "ONR Simulacrum"
 :type :resource
 :uniqueness false}