{:cost 1
 :deck-limit 99
 :faction :onr-corp
 :id "onr-datapool-r-by-zetatech"
 :influence-cost 1
 :side :corp
 :stripped-text "Play only if Runner is tagged. Give Runner two tags."
 :stripped-title "ONR Datapool R by Zetatech"
 :subtype [:onr-gray-ops]
 :text "Play only if Runner is tagged. Give Runner two tags."
 :title "ONR Datapool (R) by Zetatech"
 :type :operation
 :uniqueness false}