{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-theorem-proof"
 :side :corp
 :subtype [:onr-research]
 :stripped-text "If Runner accesses Theorem Proof, he or she does not score it, but instead may install it as a 2 MU program that has the ability \"A: Score Theorem Proof\" but is removed from the game if it leaves play in any other way."
 :stripped-title "ONR Theorem Proof"
 :text "If Runner accesses Theorem Proof, he or she does not score it, but instead may install it as a 2 MU program that has the ability \"A: Score Theorem Proof\" but is removed from the game if it leaves play in any other way."
 :title "ONR Theorem Proof"
 :type :agenda
 :uniqueness false}
