{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-lisa-blight"
 :influence-cost 1
 :side :corp
 :stripped-text "1 credit, Discard a card at random: Repeat one subroutine on a piece of ice on this fort, until the end of the run. Treat the copy of the subroutine as if it appeared immediately after the original subroutine. Use this ability only during a run."
 :stripped-title "ONR Lisa Blight"
 :subtype [:onr-sysop]
 :text "1 [credit], Discard a card at random: Repeat one subroutine on a piece of ice on this fort, until the end of the run. Treat the copy of the subroutine as if it appeared immediately after the original subroutine. Use this ability only during a run."
 :title "ONR Lisa Blight"
 :trash-cost 2
 :type :upgrade
 :uniqueness false}