{:cost 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-namatoki-plaza"
 :influence-cost 1
 :side :corp
 :stripped-text "Rez Namatoki Plaza when you install it. Install Namatoki Plaza only if you can pay to rez it. Install only inside a subsidiary data fort. That fort may have an additional agenda or node installed inside it. If Namatoki Plaza leaves play while installed, and this results in the fort having too many agendas and nodes installed inside it, trash one of those agendas or nodes."
 :stripped-title "ONR Namatoki Plaza"
 :text "Rez Namatoki Plaza when you install it. Install Namatoki Plaza only if you can pay to rez it. Install only inside a subsidiary data fort. That fort may have an additional agenda or node installed inside it. If Namatoki Plaza leaves play while installed, and this results in the fort having too many agendas and nodes installed inside it, trash one of those agendas or nodes."
 :title "ONR Namatoki Plaza"
 :trash-cost 1
 :type :upgrade
 :uniqueness false}