{:cost 7
 :deck-limit 99
 :faction :onr-runner
 :id "onr-boostergang-connections"
 :influence-cost 1
 :side :runner
 :stripped-text "Trash your hand. Search your stack for as many cards as were successfully trashed in this way and bring them into your hand. Shuffle your stack afterward."
 :stripped-title "ONR Boostergang Connections"
 :text "Trash your hand. Search your stack for as many cards as were successfully trashed in this way and bring them into your hand. Shuffle your stack afterward."
 :title "ONR Boostergang Connections"
 :type :event
 :uniqueness false}