{:cost 11
 :deck-limit 99
 :faction :onr-runner
 :id "onr-arasaka-portable-prototype"
 :influence-cost 1
 :side :runner
 :stripped-text "Provides +3 MU.  Installing Arasaka Portable Prototype costs 1 agenda point, in addition to the normal cost.  Put 3 credit from the bank on Arasaka Portable Prototype when it is installed. Use these bits only to pay for using icebreakers during runs. If you use any of these bits, replace them at the start of your next turn.  Only one deck can be in play at a time. Trash any older decks."
 :stripped-title "ONR Arasaka Portable Prototype"
 :subtype [:onr-deck]
 :text "Provides +3 MU. \nInstalling Arasaka Portable Prototype costs 1 agenda point, in addition to the normal cost. \nPut 3 [credit] from the bank on Arasaka Portable Prototype when it is installed. Use these bits only to pay for using icebreakers during runs. If you use any of these bits, replace them at the start of your next turn. \nOnly one deck can be in play at a time. Trash any older decks."
 :title "ONR Arasaka Portable Prototype"
 :type :hardware
 :uniqueness false}