{:cost 2
 :deck-limit 99
 :faction :onr-runner
 :id "onr-superglue"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "T credit: Derez a piece of ice. Use this ability only if you have just broken all the subroutines of that piece of ice."
 :stripped-title "ONR Superglue"
 :text "T [credit]: Derez a piece of ice. Use this ability only if you have just broken all the subroutines of that piece of ice."
 :title "ONR Superglue"
 :type :program
 :uniqueness false}