{:advancement-requirement 3
 :agenda-points 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-project-zurich"
 :side :corp
 :subtype [:onr-asset]
 :stripped-text "For every two advancement counters over Project Zurich 's difficulty that are on Project Zurich when you score it, gain 1 at the start of each of your turns."
 :stripped-title "ONR Project Zurich"
 :text "For every two advancement counters over Project Zurich 's difficulty that are on Project Zurich when you score it, gain 1 at the start of each of your turns."
 :title "ONR Project Zurich"
 :type :agenda
 :uniqueness false}
