{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-i-spy"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "T credit: Put a Spy counter in a data fort. A Spy counter exposes all cards installed inside or on a fort containing it. The Corp may remove a Spy counter by taking an action to pay 4 credit. Use this ability only immediately after a successful run on that fort."
 :stripped-title "ONR I Spy"
 :text "T [credit]: Put a Spy counter in a data fort. A Spy counter exposes all cards installed inside or on a fort containing it. The Corp may remove a Spy counter by taking an action to pay 4 [credit]. Use this ability only immediately after a successful run on that fort."
 :title "ONR I Spy"
 :type :program
 :uniqueness false}