{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-expendable-family-member"
 :influence-cost 1
 :side :runner
 :stripped-text "1 credit, T credit: Avoid receiving a tag.  Hidden resources are installed face down, but are put into the trash face up."
 :stripped-title "ONR Expendable Family Member"
 :subtype [:onr-hidden]
 :text "1 [credit], T [credit]: Avoid receiving a tag. \nHidden resources are installed face down, but are put into the trash face up."
 :title "ONR Expendable Family Member"
 :type :resource
 :uniqueness false}