{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-setup"
 :influence-cost 1
 :side :corp
 :stripped-text "When Runner accesses Setup!, it does 2 Net damage, even if it is not installed. Ignore this effect if Runner accesses it from the Archives. If Setup! is accessed from R&D, Runner must show it to you."
 :stripped-title "ONR Setup"
 :subtype [:onr-ambush]
 :text "When Runner accesses Setup!, it does 2 Net damage, even if it is not installed. Ignore this effect if Runner accesses it from the Archives. If Setup! is accessed from R&D, Runner must show it to you."
 :title "ONR Setup!"
 :trash-cost 0
 :type :asset
 :uniqueness false}