{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-tokyochiba-infighting"
 :influence-cost 1
 :side :corp
 :stripped-text "Gain 2 credit after each unsuccessful run on this fort.  Rez a region when you install it.  Install a region only if you can pay to rez it.  Only one region may be installed in each fort. Trash older ones."
 :stripped-title "ONR TokyoChiba Infighting"
 :subtype [:onr-region]
 :text "Gain 2 [credit] after each unsuccessful run on this fort. \nRez a region when you install it. \nInstall a region only if you can pay to rez it. \nOnly one region may be installed in each fort. Trash older ones."
 :title "ONR Tokyo-Chiba Infighting"
 :trash-cost 6
 :type :upgrade
 :uniqueness false}