{:cost 6
 :deck-limit 99
 :faction :onr-corp
 :id "onr-underworld-mole"
 :influence-cost 1
 :side :corp
 :stripped-text "Play only if Runner installed any resources during his or her last turn.  Trace 4-If trace is successful, trash a resource Runner installed during his or her last turn and give Runner a tag."
 :stripped-title "ONR Underworld Mole"
 :subtype [:onr-gray-ops]
 :text "Play only if Runner installed any resources during his or her last turn. \nTrace 4-If trace is successful, trash a resource Runner installed during his or her last turn and give Runner a tag."
 :title "ONR Underworld Mole"
 :type :operation
 :uniqueness false}