{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-allnighter"
 :influence-cost 1
 :side :runner
 :stripped-text "Make a run; whether or not that run is successful, you may then make another run."
 :stripped-title "ONR AllNighter"
 :text "Make a run; whether or not that run is successful, you may then make another run."
 :title "ONR All-Nighter"
 :type :event
 :uniqueness false}