{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-priority-requisition"
 :side :corp
 :subtype [:onr-gray-ops]
 :stripped-text "You may rez a piece of ice, at no cost, when you score Priority Requisition."
 :stripped-title "ONR Priority Requisition"
 :text "You may rez a piece of ice, at no cost, when you score Priority Requisition."
 :title "ONR Priority Requisition"
 :type :agenda
 :uniqueness false}
