{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-livewires-contacts"
 :influence-cost 1
 :side :runner
 :stripped-text "Gain 3 credit."
 :stripped-title "ONR Livewires Contacts"
 :text "Gain 3 [credit]."
 :title "ONR Livewire's Contacts"
 :type :event
 :uniqueness false}