{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-liberated-savings-account"
 :influence-cost 1
 :side :runner
 :stripped-text "7 credit, T credit: Gain 11 credit. You may use this ability whenever you pay any cost or penalty.  Hidden resources are installed face down, but are put into the trash face up."
 :stripped-title "ONR Liberated Savings Account"
 :subtype [:onr-hidden]
 :text "7 [credit], T [credit]: Gain 11 [credit]. You may use this ability whenever you pay any cost or penalty. \nHidden resources are installed face down, but are put into the trash face up."
 :title "ONR Liberated Savings Account"
 :type :resource
 :uniqueness false}