{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-fortress-respecification"
 :influence-cost 1
 :side :runner
 :stripped-text "Play only if you made a successful run this turn. Rearrange the ice installed on the last fort on which you made a successful run. This does not expose any concealed ice."
 :stripped-title "ONR Fortress Respecification"
 :subtype [:onr-sabotage]
 :text "Play only if you made a successful run this turn. Rearrange the ice installed on the last fort on which you made a successful run. This does not expose any concealed ice."
 :title "ONR Fortress Respecification"
 :type :event
 :uniqueness false}