{:advancement-requirement 5
 :agenda-points 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-corporate-headhunters"
 :side :corp
 :subtype [:onr-asset]
 :stripped-text "Whenever Corporate Headhunters successfully does damage, Runner 's hand size is reduced by 1. A: Do 1 meat damage. Use this ability only if Runner is tagged."
 :stripped-title "ONR Corporate Headhunters"
 :text "Whenever Corporate Headhunters successfully does damage, Runner 's hand size is reduced by 1.\nA: Do 1 meat damage. Use this ability only if Runner is tagged."
 :title "ONR Corporate Headhunters"
 :type :agenda
 :uniqueness false}
