{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-back-door-to-hilliard"
 :influence-cost 1
 :side :runner
 :stripped-text "0 credit: Base link 2.  3 credit: +1 link.  Use only one base link card for each trace attempt made against you."
 :stripped-title "ONR Back Door to Hilliard"
 :subtype [:onr-base-link]
 :text "0 [credit]: Base link 2. \n3 [credit]: +1 link. \nUse only one base link card for each trace attempt made against you."
 :title "ONR Back Door to Hilliard"
 :type :resource
 :uniqueness false}