{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-chiba-bank-account"
 :influence-cost 1
 :side :runner
 :stripped-text "1 credit, T credit: Gain 4 credit. You may use this ability whenever you pay any cost or penalty.  Hidden resources are installed face down, but are put into the trash face up."
 :stripped-title "ONR Chiba Bank Account"
 :subtype [:onr-hidden]
 :text "1 [credit], T [credit]: Gain 4 [credit]. You may use this ability whenever you pay any cost or penalty. \nHidden resources are installed face down, but are put into the trash face up."
 :title "ONR Chiba Bank Account"
 :type :resource
 :uniqueness false}