{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-hq-mole"
 :influence-cost 1
 :side :runner
 :stripped-text "4 credit, T credit: Access two additional cards from HQ. Use this ability only when accessing cards from HQ.  Hidden resources are installed face down, but are put into the trash face up."
 :stripped-title "ONR HQ Mole"
 :subtype [:onr-hidden]
 :text "4 [credit], T [credit]: Access two additional cards from HQ. Use this ability only when accessing cards from HQ. \nHidden resources are installed face down, but are put into the trash face up."
 :title "ONR HQ Mole"
 :type :resource
 :uniqueness false}