{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-submarine-uplink"
 :influence-cost 1
 :side :runner
 :stripped-text "0 credit: Base link 4.  1 credit: +1 link.  You may use Submarine Uplink only during a run.  Using Submarine Uplink forces you to jack out after the current encounter ends.  Use only one base link card for each trace attempt made against you."
 :stripped-title "ONR Submarine Uplink"
 :subtype [:onr-base-link]
 :text "0 [credit]: Base link 4. \n1 [credit]: +1 link. \nYou may use Submarine Uplink only during a run. \nUsing Submarine Uplink forces you to jack out after the current encounter ends. \nUse only one base link card for each trace attempt made against you."
 :title "ONR Submarine Uplink"
 :type :resource
 :uniqueness false}