{:advancement-requirement 5
 :agenda-points 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-black-ice-quality-assurance"
 :side :corp
 :subtype [:onr-research :onr-black-ops]
 :stripped-text "All black ice has +2 strength."
 :stripped-title "ONR Black Ice Quality Assurance"
 :text "All black ice has +2 strength."
 :title "ONR Black Ice Quality Assurance"
 :type :agenda
 :uniqueness false}
