{:cost 1
 :deck-limit 99
 :faction :onr-corp
 :id "onr-fatal-attractor"
 :influence-cost 1
 :side :corp
 :strength 4
 :stripped-text "S creditThe next time Runner encounters a piece of ice during the run, do 3 Net damage unless Runner breaks all subroutines of that piece of ice."
 :stripped-title "ONR Fatal Attractor"
 :subtype [:onr-sentry :onr-black-ice :onr-ap]
 :text "S [credit]The next time Runner encounters a piece of ice during the run, do 3 Net damage unless Runner breaks all subroutines of that piece of ice."
 :title "ONR Fatal Attractor"
 :type :ice
 :uniqueness false}