{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-pox"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you make a successful run, put a Pox counter in the fort that was run. Every two Pox counters in a fort require the Corp to pay 1 credit, in addition to any other costs, to install a card inside or on that fort.  The Corp may remove all Virus counters by forgoing its next three actions."
 :stripped-title "ONR Pox"
 :subtype [:onr-virus]
 :text "Whenever you make a successful run, put a Pox counter in the fort that was run. Every two Pox counters in a fort require the Corp to pay 1 [credit], in addition to any other costs, to install a card inside or on that fort. \nThe Corp may remove all Virus counters by forgoing its next three actions."
 :title "ONR Pox"
 :type :program
 :uniqueness false}