{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-incubator"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you make a successful run, give the Corp an Incubate counter. Each Incubate counter necessitates a die roll at the start of each of your turns; on each 6, choose a Virus counter and exchange that counter for two counters of the same type.  The Corp may remove all Virus counters by forgoing its next three actions."
 :stripped-title "ONR Incubator"
 :subtype [:onr-virus :onr-random]
 :text "Whenever you make a successful run, give the Corp an Incubate counter. Each Incubate counter necessitates a die roll at the start of each of your turns; on each 6, choose a Virus counter and exchange that counter for two counters of the same type. \nThe Corp may remove all Virus counters by forgoing its next three actions."
 :title "ONR Incubator"
 :type :program
 :uniqueness false}