{:advancement-requirement 5
 :agenda-points 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-encryption-breakthrough"
 :side :corp
 :subtype [:onr-research]
 :stripped-text "All code gates have +1 strength.  When you score Encryption Breakthrough, reveal as many code gates as you wish. Then, gain 1 credit for each revealed or rezzed code gate."
 :stripped-title "ONR Encryption Breakthrough"
 :text "All code gates have +1 strength. \nWhen you score Encryption Breakthrough, reveal as many code gates as you wish. Then, gain 1 [credit] for each revealed or rezzed code gate."
 :title "ONR Encryption Breakthrough"
 :type :agenda
 :uniqueness false}
