{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-shield"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Prevents up to 2 Net damage each turn."
 :stripped-title "ONR Shield"
 :text "Prevents up to 2 Net damage each turn."
 :title "ONR Shield"
 :type :program
 :uniqueness false}