{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-rabbit"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Ice that attempts to trace you has its trace limit reduced by 1."
 :stripped-title "ONR Rabbit"
 :text "Ice that attempts to trace you has its trace limit reduced by 1."
 :title "ONR Rabbit"
 :type :program
 :uniqueness false}