{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-kilroy-was-here"
 :influence-cost 1
 :side :runner
 :stripped-text "Make a run on R&D; you may trash, at no cost, any cards you access that were stored in R&D, even if the cards cannot normally be trashed."
 :stripped-title "ONR Kilroy Was Here"
 :subtype [:onr-sabotage]
 :text "Make a run on R&D; you may trash, at no cost, any cards you access that were stored in R&D, even if the cards cannot normally be trashed."
 :title "ONR Kilroy Was Here"
 :type :event
 :uniqueness false}