{:cost 4
 :deck-limit 99
 :faction :onr-corp
 :id "onr-rex"
 :influence-cost 1
 :side :corp
 :strength 3
 :stripped-text "S creditTrace 3-If trace is successful, end the run, and Runner cannot run again until Runner takes an action to pay 2 credit."
 :stripped-title "ONR Rex"
 :subtype [:onr-sentry :onr-pit-bull]
 :text "S [credit]Trace 3-If trace is successful, end the run, and Runner cannot run again until Runner takes an action to pay 2 [credit]."
 :title "ONR Rex"
 :type :ice
 :uniqueness false}