{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-pattel-antibody"
 :influence-cost 1
 :side :corp
 :stripped-text "When Runner accesses Pattel Antibody, you may pay 3 credit to put a Pattel counter on all installed icebreakers, even if Pattel Antibody is not installed. Ignore this effect if Runner accesses Pattel Antibody from the Archives. Each Pattel counter on an icebreaker reduces its strength by 1.  If Pattel Antibody is accessed from R&D, Runner must show it to you."
 :stripped-title "ONR Pattel Antibody"
 :subtype [:onr-ambush :onr-virus]
 :text "When Runner accesses Pattel Antibody, you may pay 3 [credit] to put a Pattel counter on all installed icebreakers, even if Pattel Antibody is not installed. Ignore this effect if Runner accesses Pattel Antibody from the Archives. Each Pattel counter on an icebreaker reduces its strength by 1. \nIf Pattel Antibody is accessed from R&D, Runner must show it to you."
 :title "ONR Pattel Antibody"
 :trash-cost 0
 :type :asset
 :uniqueness false}