{:cost 3
 :deck-limit 99
 :faction :onr-corp
 :id "onr-twisty-passages"
 :influence-cost 1
 :side :corp
 :strength 4
 :stripped-text "S creditEnd the run.  If Runner passes Twisty Passages, pay 1 credit, or uninstall it and store it in HQ."
 :stripped-title "ONR Twisty Passages"
 :subtype [:onr-code-gate]
 :text "S [credit]End the run. \nIf Runner passes Twisty Passages, pay 1 [credit], or uninstall it and store it in HQ."
 :title "ONR Twisty Passages"
 :type :ice
 :uniqueness false}