{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-vortex"
 :influence-cost 1
 :side :corp
 :strength 2
 :stripped-text "S creditIf you pay 2 credit, Runner is now encountering the outermost piece of rezzed ice on a data fort of your choice, instead of passing Vortex. The run is now considered to be a run on that data fort. If there is no rezzed ice on that fort, Runner is considered to have passed the last piece of ice on that fort."
 :stripped-title "ONR Vortex"
 :subtype [:onr-code-gate :onr-deflector]
 :text "S [credit]If you pay 2 [credit], Runner is now encountering the outermost piece of rezzed ice on a data fort of your choice, instead of passing Vortex. The run is now considered to be a run on that data fort. If there is no rezzed ice on that fort, Runner is considered to have passed the last piece of ice on that fort."
 :title "ONR Vortex"
 :type :ice
 :uniqueness false}