{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-encoder-inc"
 :influence-cost 1
 :side :corp
 :stripped-text "Cost to rez code gates is reduced by 1 credit. All code gates have an additional subroutine, \"S creditEnd the run,\" after all other subroutines."
 :stripped-title "ONR Encoder Inc"
 :text "Cost to rez code gates is reduced by 1 [credit]. All code gates have an additional subroutine, \"S [credit]End the run,\" after all other subroutines."
 :title "ONR Encoder, Inc."
 :trash-cost 1
 :type :asset
 :uniqueness false}