{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-krumz"
 :influence-cost 1
 :side :corp
 :stripped-text "Put 1 credit from the bank on Krumz when you rez it. Use this bit only to pay for traces. If you use this bit, replace it at the start of your next turn."
 :stripped-title "ONR Krumz"
 :subtype [:onr-ai]
 :text "Put 1 [credit] from the bank on Krumz when you rez it. Use this bit only to pay for traces. If you use this bit, replace it at the start of your next turn."
 :title "ONR Krumz"
 :trash-cost 2
 :type :asset
 :uniqueness false}