{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-swiss-bank-account"
 :influence-cost 1
 :side :runner
 :stripped-text "You may use the following abilities whenever you pay any cost or penalty. T credit: Gain 2 credit. 3 credit,  T credit: Gain 6 credit.  Hidden resources are installed face down, but are put into the trash face up."
 :stripped-title "ONR Swiss Bank Account"
 :subtype [:onr-hidden]
 :text "You may use the following abilities whenever you pay any cost or penalty.\nT [credit]: Gain 2 [credit]. 3 [credit],  T [credit]: Gain 6 [credit]. \nHidden resources are installed face down, but are put into the trash face up."
 :title "ONR Swiss Bank Account"
 :type :resource
 :uniqueness false}