{:advancement-requirement 5
 :agenda-points 2
 :deck-limit 99
 :faction :onr-corp
 :id "onr-ai-chief-financial-officer"
 :side :corp
 :subtype [:onr-asset]
 :stripped-text "A: Shuffle cards stored in HQ and the Archives into R&D; then draw five cards."
 :stripped-title "ONR AI Chief Financial Officer"
 :text "A: Shuffle cards stored in HQ and the Archives into R&D; then draw five cards."
 :title "ONR AI Chief Financial Officer"
 :type :agenda
 :uniqueness false}
