{:cost 2
 :deck-limit 99
 :faction :onr-runner
 :id "onr-schematics-search-engine"
 :influence-cost 1
 :memory-cost 1
 :side :runner
 :stripped-text "Whenever you access cards from HQ, expose all of the Corp's installed cards."
 :stripped-title "ONR Schematics Search Engine"
 :text "Whenever you access cards from HQ, expose all of the Corp's installed cards."
 :title "ONR Schematics Search Engine"
 :type :program
 :uniqueness false}