{:cost 0
 :deck-limit 99
 :faction :onr-runner
 :id "onr-aujourdoui"
 :influence-cost 1
 :side :runner
 :stripped-text "A: Look at the top five cards of your stack. You may bring any program cards among them into your hand. Pay 1 credit for each card taken in this way, and show those cards to the Corp. Shuffle your stack."
 :stripped-title "ONR AujourdOui"
 :subtype [:onr-bbs]
 :text "A: Look at the top five cards of your stack. You may bring any program cards among them into your hand. Pay 1 [credit] for each card taken in this way, and show those cards to the Corp. Shuffle your stack."
 :title "ONR Aujourd'Oui"
 :type :resource
 :uniqueness false}