{:cost 1
 :deck-limit 99
 :faction :onr-runner
 :id "onr-panzer-run"
 :influence-cost 1
 :side :runner
 :stripped-text "Gain 4 credit and draw two cards.  Playing a double prep costs two consecutive actions this turn instead of one."
 :stripped-title "ONR Panzer Run"
 :subtype [:onr-double]
 :text "Gain 4 [credit] and draw two cards. \nPlaying a double prep costs two consecutive actions this turn instead of one."
 :title "ONR Panzer Run"
 :type :event
 :uniqueness false}