{:cost 1
 :deck-limit 99
 :faction :onr-runner
 :id "onr-temple-microcode-outlet"
 :influence-cost 1
 :side :runner
 :stripped-text "Search your stack for a program. Show that program to the Corp, and then bring it into your hand. Reshuffle your stack afterwards."
 :stripped-title "ONR Temple Microcode Outlet"
 :subtype [:onr-bbs]
 :text "Search your stack for a program. Show that program to the Corp, and then bring it into your hand. Reshuffle your stack afterwards."
 :title "ONR Temple Microcode Outlet"
 :type :event
 :uniqueness false}