{:cost 0
 :deck-limit 99
 :faction :onr-corp
 :id "onr-trap"
 :influence-cost 1
 :side :corp
 :stripped-text "If you pay 4 credit when Runner accesses TRAP!, it does 3 Net damage and gives Runner a tag, even if TRAP! is not installed.  Ignore this effect if Runner accesses it from the Archives.  If TRAP! is accessed from R&D, Runner must show it to you."
 :stripped-title "ONR TRAP"
 :subtype [:onr-ambush]
 :text "If you pay 4 [credit] when Runner accesses TRAP!, it does 3 Net damage and gives Runner a tag, even if TRAP! is not installed. \nIgnore this effect if Runner accesses it from the Archives. \nIf TRAP! is accessed from R&D, Runner must show it to you."
 :title "ONR TRAP!"
 :trash-cost 0
 :type :asset
 :uniqueness false}